.anunt-container{
    display: flex;
    flex-direction: column;
    margin:auto;
}

.anunt-titlu{
    margin-top: 5%;
    font-weight: bold;
    font-size: 30px;
}

.anunt-image{
    height: 100%;
}

.img-anunt{
    height: 500px;
    width: 700px;
    object-fit:cover;
}

.container{
    text-align: center;
}

.subtitlu{
    font-weight: bold;
    font-size: 20px;
}

.description-container{
    text-align: center;
}